#prev_next_btnscontainer{


  display: flex;
  justify-content: space-between;
}
/*
ion-grid {
    height: 100%;
    width: 100%;

    ion-row {
      max-height: 250px;
      overflow: hidden;
    }

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
}

#box{
  height: 50%;
  width: 100%;
  padding-top: 10%;
}

ion-card-title {
  font-weight: bold;
  font-size: xx-large;
  margin-left: 20px;
  margin-top: 50px;
}

ion-card-subtitle {
  margin-left: 20px;
  margin-top: 5px;
}

#testo{
  padding: 0 5px;
}
*/
