<ion-content [fullscreen]="true" *ngIf="(notizia | async) as n">
  
  <div style="background-image: url({{n.url}});" id="box">
    <ion-card-title>{{n.titolo}}</ion-card-title>
    <ion-card-subtitle class="newstitle">{{n.sottotitolo}}</ion-card-subtitle>
  </div>
  
  
  
  <ion-content>
    <ion-grid>
      <ion-row id="testo">
        <p>{{n.testo}}</p>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" [routerLink]="['../', n.prevId]" routerDirection="forward">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Prev
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button style="float: right;" fill="clear" [routerLink]="['../', n.nextId]" routerDirection="forward">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

