#operacard{
  box-shadow: none;
  border-radius: 0%;

  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 0;
  border-bottom: 1px solid var(--ion-color-secondary);
}

#operacard > img{
  width: 50%;
  background-size: contain;
}

#operacard > ion-card-content{

}

#anagrafica{
  display: flex;
  justify-content: space-between;
}

/*
ion-grid {
  height: 100%;
  width: 100%;

  ion-row {
    max-height: 250px;
    overflow: hidden;
  }

  ion-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.text-justify {
  text-align: justify;
}

.mx-0 {
  margin-right: 0em;
  margin-left: 0em;
}

.mx-1 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.my-0 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.my-1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mb-0 {
  margin-bottom: 0.0em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mt-0 {
  margin-top: 0em;
}

.mt-1 {
  margin-top: 0.5em;
}

.mt-2 {
  margin-top: 1em;
}


.p-0 {
  padding: 0;
}

*/
