#newstitle{
}

#newsbox{
  width: 100%;
  margin: 0;
  border-radius: 0;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.newstitle{
  color: white;
}
 ion-card-title.newstitle{
  font-weight: bold;
  font-size: xx-large;
 }

#newsbutton{
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
}

