#newsbox{
  margin: 0;
  height: 70%;
  width: 100%;
  border-radius: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#opacitylayer{
  padding-left: 10%;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255, 0.1);

}

.newstitle{
  color: white;
}
 ion-card-title.newstitle{
  font-weight: bold;
  font-size: xx-large;
 }

#newsbutton{
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
}

