<ion-content>

  <ion-card *ngIf="(this.notizia | async) as n" id="newsbox" style="background-image: url({{n.url}});">
    <div id="opacitylayer">
      <ion-card-header>
        <ion-card-title class="newstitle">{{n.titolo}}</ion-card-title>

        <ion-card-subtitle class="newstitle">{{n.sottotitolo}}</ion-card-subtitle>
      </ion-card-header>
      <ion-button id="newsbutton" fill="clear" [routerLink]="['../news', n.id]" routerDirection="forward">scopri di più
        ></ion-button>
    </div>
  </ion-card>

  <ion-card style="box-shadow: none;">
    <ion-card-content >
      <h2>I messaggi dei nostri ospiti</h2>
    </ion-card-content>

  <ion-card *ngFor="let d of this.guests | async">
    <ion-card-content>
      {{d.descrizione}}
      <p style="text-align: right"><strong>{{d.nome}}</strong></p>
    </ion-card-content>
  </ion-card>


    <ion-button fill="clear" size="defailt" style="float: right;" routerLink="/tabs/guestbook"> Val al guestbook </ion-button>


  </ion-card>
  <!--




-->
  <!--



-->

</ion-content>
