<ion-content class="ion-padding">


  <ion-card id="maincard">

  <ion-card-content>
    <ion-card-title><strong>Guestbook</strong></ion-card-title>
    <ion-text>In questa sezione è possibile visualizzare tutti i commenti </ion-text>

  </ion-card-content>

  <ion-card-content id="guestintro">
    <ion-button fill="clear"  size="default" class="right" slot="end" routerLink="/tabs/new-feedback"
      style="text-align: right;" [disabled]="!QRcodeChecker">
      Aggiungi
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-card-content>

  <ion-card *ngFor="let d of data" class="guestmessage">
    <ion-card-content>
      {{d.descrizione}}
      <p style="text-align: right"><strong>{{d.nome}}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-card>
</ion-content>
