<ion-content>
  <ion-card id="maincard">

    <ion-card-content>
      <ion-card-title id="mainTitolo"><strong>Indice Museo</strong></ion-card-title>
      <ion-card-subtitle id="mainTitolo">Ti diamo il benvenuto nel museo di Roccacannuccia!</ion-card-subtitle>
      <ion-text>da questa pagina è possibile effettuare una ricerca di opere ed autori oppure accedere alle opere di
        ogni stanza</ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-button style="margin-left: 50%; transform: translateX(-50%);" fill="clear" size="defailt"
        [routerLink]="['/tabs/ricerca']"><ion-icon name="search-outline"></ion-icon>Cerca all'interno del
        museo</ion-button>
    </ion-card-content>

    <ion-card *ngFor="let s of stanze" id="stanze" style="background-color: {{s.colore}};">
      <ion-card-content>
        <ion-card-content>
          <ion-card-title id="titolo"><strong>{{s.nome}}</strong></ion-card-title>
          <br>
          <ion-card-subtitle id="sottotitolo">{{s.descrizione}}</ion-card-subtitle>
        </ion-card-content>
        <ion-card-content>
          <ion-img src="{{s.operaRappresentativa?.picture}}"
            [routerLink]="['/tabs/opera/', s.operaRappresentativa?.id]"></ion-img>
          <ion-card-subtitle id="sottotitolo" size="small"><strong>{{s.operaRappresentativa?.titolo}}</strong>,
            {{s.operaRappresentativa?.autore?.nome}}</ion-card-subtitle>
        </ion-card-content>
        <ion-button id="bottone" style="float: right;" size="small" fill="clear" [routerLink]="['../room/', s.id]"
          routerDirection="forward">
          Scopri di pi&uacute;&nbsp;&gt;
        </ion-button>
      </ion-card-content>
    </ion-card>

  </ion-card>
</ion-content>