#maincard{
    width: 100%;
    margin: 0;
    margin-top: 55px;
    box-shadow: none;
}

#stanze{
    margin: 0px 0px;
    box-shadow: none;
    background-color: gray;
    border-radius: 0%;
}

#mainTitolo{
    padding: 0px 10px;
}


ion-img{
    width: 100%;
    border-radius: 5px;
    overflow:hidden;
  }

#titolo{
    color: white;
}

#sottotitolo{
    color: white;
}

#bottone{
    color: white;
    text-decoration: solid;
}

